---
import Features2 from '~/components/widgets/Features2.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Hero from '~/components/widgets/Hero.astro';
import Steps2 from '~/components/widgets/Steps2.astro';
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'About us',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero tagline="About us">
    <Fragment slot="title">
      A team who wants to create <br />
      <span class="text-accent dark:text-white highlight"> fun games and services</span>
    </Fragment>

    <Fragment slot="subtitle">
      Our team is a group of friends who came together through our love of games and we want to try and make games that
      people will love.
    </Fragment>
  </Hero>

  <!-- Features3 Widget ************** -->

  <Features3
    title="Our Founders"
    subtitle="The team members who started this adventure."
    columns={2}
    isBeforeContent={true}
    items={[
      {
        title: 'Toastie',
        description: 'A software and systems administrator from the small country of New Zealand.',
        icon: 'tabler:user',
      },
      {
        title: 'Azrael Indrason',
        description: 'A chaotic yeen who had the initial dream of starting Dragons Child Studios.',
        icon: 'tabler:user',
      },
    ]}
  />

  <!-- Steps2 Widget ****************** -->

  <Steps2
    title="Our values"
    subtitle="Our values that we hold in the heart of our team."
    items={[
      {
        title: 'Privacy based',
        description: 'We do not like our data being sold so why should we sell your data off to other companies?',
      },
      {
        title: 'Have fun making games',
        description:
          'We try to have fun in all that we do. We love games and we love to play them. So why should we make games that arent fun?',
      },
      {
        title: 'Honesty and transparency',
        description:
          'If we have any privacy issues we will make sure that they are resolved and that a transparency report is made.',
      },
    ]}
  />

  <!-- Features2 Widget ************** -->

  <Features2
    title="On our Discord or forums"
    tagline="Contact us"
    columns={2}
    items={[
      {
        title: 'Discord',
        description: 'Our Discord server is open to everyone. Feel free to join and ask us any questions!',
        icon: 'tabler:brand-discord',
      },
      {
        title: 'Forums',
        description: 'Our forums are another place where you can reach us and ask questions.',
        icon: 'tabler:messages',
      },
    ]}
  />
</Layout>
